doctype html
html
	head
		meta(charset="UTF-8")
		title #{ title }
		link(rel="shortcut icon", type="image/x-icon", href="/img/icon.png")
		block head

	body
		div(class="content", ng-app="app", ng-controller="mainCtrl")
			block content
		block scripts